# Python
__pycache__/
*.py[cod]
venv/
.venv/
env/

# Node
node_modules/
dist/
*.zip

# Sirlar — HECH QACHON commit qilinmasin
.env
.env.local
.env.production
*.env
!.env.example

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
